<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RedM_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RedM_Launcher.Properties.Settings>
            <setting name="IsClearCacheOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAzertyInstallOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsOpenRockstarOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsOpenEpicgameOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RedmFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="RockstarFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="EpicFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TeamSpeakFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="IsTimerOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Timer" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainPageLogo" serializeAs="String">
                <value>/.Resources/Icons/Server_Logo_2.png</value>
            </setting>
            <setting name="MainPageBackground" serializeAs="String">
                <value>/.Resources/background.jpg</value>
            </setting>
            <setting name="IsDirectConnectOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsOpenTeamSpeakOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDirectConnectTSOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RedmServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="TSServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="TSPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Title" serializeAs="String">
                <value>RedM Launcher</value>
            </setting>
            <setting name="OnlineLogo" serializeAs="String">
                <value />
            </setting>
            <setting name="OnlineBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="IsHideLauncherWhenRedMRunning" serializeAs="String">
                <value>True</value>
            </setting>
        </RedM_Launcher.Properties.Settings>
    </userSettings>
</configuration>