<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Custom_Dialog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Custom_Dialog.Properties.Settings>
            <setting name="ErrorIcon" serializeAs="String">
                <value>/.Resources/Icons/error.png</value>
            </setting>
            <setting name="WarningIcon" serializeAs="String">
                <value>/.Resources/Icons/warning.png</value>
            </setting>
            <setting name="InfoIcon" serializeAs="String">
                <value>/.Resources/Icons/info.png</value>
            </setting>
        </Custom_Dialog.Properties.Settings>
    </userSettings>
</configuration>